*~
.cover
bin/
*.pyc
.DS_Store
.idea
gotests.xml
gotests.txt
coverage.xml
coverage.html
golint-*.txt
cover.out
dump.rdb
spike*.txt
auth-service
dma-auth-service
.scannerwork/
.note/
Pipfile
.vscode/
__debug_bin
settings*local*
.env
data.db
settings_local.yaml
