*~
.cover
bin/
*.pyc
.DS_Store
.idea
gotests.xml
gotests.txt
coverage.xml
coverage.html
golint-*.txt
cover.out
dump.rdb
spike*.txt
auth-service
dma-auth-service
.scannerwork/
.note/
Pipfile
.vscode/
vendor
__debug_bin
vendor/
settings*local*
.env
.envrc
data.db
settings_*
docker-compose.override.yaml
.local
